* {
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Noto_Serif_Bold';
    src: url(fonts/Noto_Serif/NotoSerif-Bold.ttf);
}

@font-face {
    font-family: 'Noto_Serif_BoldItalic';
    src: url(fonts/Noto_Serif/NotoSerif-BoldItalic.ttf);
}

@font-face {
    font-family: 'Noto_Serif_Light';
    src: url(fonts/Noto_Serif/NotoSerif-Light.ttf);
}

@font-face {
    font-family: 'Noto_Serif_Regular';
    src: url(fonts/Noto_Serif/NotoSerif-Regular.ttf);
}



.logo {
    width: 150px;
}

.logotip {
    margin-right: -800px;
}

.menu {
    font-size: 20px;
    font-weight: regular;
    color: #000000;
    font-family: 'Roboto-Regular';
}

.menu:hover {
    color: #30152d;
    text-decoration-line: underline;
    text-decoration-color: #81637D;
}

.container {
    max-width: 100%;
    position: relative;
}

.fon {
    position: absolute;
    width: 925px;
    height: 875px;
    background-image: url('img/fon.png');
    background-repeat: no-repeat;
    translate: 977px;
    margin-right: 0;
}

.block-menu {
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    padding-left: 86px;
}

.search,
.cart,
.account {
    padding-left: 24px;
}

.offer {
    margin-top: 200px;
    width: 700px;
    margin-left: 50px;
}

.offer_text_1 {
    font-family: 'Noto_Serif_Regular';
    font-weight: 400;
    font-size: 64px;
    color: #000;
}

.offer_text_2 {
    font-family: 'Noto_Serif_Light';
    font-weight: 400;
    font-size: 32px;
    color: #000;
}

.btn_1 {
    margin-left: 400px;
}

.btn_catalog {
    border-radius: 15px;
    width: 330px;
    height: 55px;
    background: #81637d;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: none;
    font-family: 'Roboto-Regular';
    margin-top: 130px;
}

.btn_catalog:hover {
    background: rgba(0, 0, 0, 0);
    color: #463344;
    font-size: 20px;
    box-shadow: inset 0 0 0 3px #463344;
}

.advantages {
    margin-left: 225px;
    margin-right: 225px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 24px;
}

.experience {
    width: 287px;
    height: 84px;
    display: flex;
    justify-content: center;
    margin-right: 165px;
    align-items: center;
}

.photo {
    width: 388px;
    height: 84px;
    display: flex;
    justify-content: center;
    margin-right: 165px;
    align-items: center;
}

.instructions {
    width: 350px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages_text {
    padding-left: 10px;
}

.discount {
    max-width: 1920px;
    margin-top: 50px;
    background-image: url('img/fon_discount.png');
    background-repeat: no-repeat;
    height: 238px;
    padding-top: 30px;
    font-family: 'Noto_Serif_Light';
}

.discount_text {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.discount_text_1,
.discount_text_2 {
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin-top: 25px;
}

.percent {
    font-size: 36px;
    text-align: center;
    color: #81637D;
}

.btn_discount {
    justify-content: center;
    display: flex;
}

.discount_btn {
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    width: 395px;
    height: 51px;
    text-align: center;
    margin-top: 10px;

}

.discount_a {
    text-decoration: none;
    color: #81637D;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 24px;
}

.discount_a:hover {
    color: #2c1123;
}

.heading {
    font-family: 'Noto_Serif_Light';
    font-size: 55px;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.content_popular {
    margin-left: 225px;
    margin-right: 225px;
    display: flex;
    justify-content: center;
}

.position_1,
.position_2,
.position_3 {
    padding-left: 50px;
}

.popular_text {
    justify-content: center;
    display: flex;
    width: 100%;
}

.popular_text_left {
    margin-right: 200px;
}

.fon_2 {
    margin-top: 170px;
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: url('img/fon_2.png');
    background-repeat: no-repeat;
}